.rn-card-get-latest {
    width: 80%;
    margin: 5rem auto;
}

.rn-card-get-latest h1 {
    margin: 3rem 0;
}




@media screen and (max-width:992px) {
    .rn-card-get-latest h1 {
        margin: auto;
    }
}