.rn-card-get-latest {
    margin: 9.18rem 0 13rem 0;
}

.rn-card-get-latest h1 {
    margin: 1.32rem 7.5rem;
}




@media screen and (max-width:992px) {
    .rn-card-get-latest h1 {
        margin: auto;
    }
}