.rn-slide {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: auto;
}


.rn-slide .rn-card {
    width: 20.875rem !important;
}

.rn-card .img-card {
    width: 100%;
    margin: auto;
    background: url(<path-to-image>), lightgray 0px -0.5px / 100% 100.578% no-repeat;
}




.rn-card .btn-card {
    border-radius: 0.25rem;
    background: #F5F5F5;
    width: 100%;
    margin: 1.06rem 0;
}

.rn-card .btn-card button {
    color: #696969;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.1375rem;
    letter-spacing: -0.00438rem;
    text-transform: uppercase;
}



.rn-card .rn-body-card h5 {
    color: #000;
    font-family: Inter;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.43438rem;
    letter-spacing: -0.01063rem;
}

.rn-card .rn-body-card p {
    color: #707070;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.1375rem;
    letter-spacing: -0.00438rem;
}

.slick-prev::before,
.slick-next::before {
    color: #fff !important;
}


@media screen and (max-width:992px) {
    .rn-slide {
        display: block;
    }

    .rn-slide .rn-card {
        width: 90% !important;
    }

    .rn-slide {
        width: 80% !important;
    }

}